<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>About</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand" href="#">COVID-19 in the U.S.</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href = {{url_for("home")}}>Home</a>
        <a class="nav-item nav-link" href = {{url_for("states")}}>State Data</a>
        <a class="nav-item nav-link" href = {{url_for("counties")}}>County Data</a>
        <a class="nav-item nav-link" href = {{url_for("laws")}}>Laws</a>
        <a class="nav-item nav-link" href = {{url_for("dataVis")}}>Visualizations</a>
        <a class="nav-item nav-link" href = {{url_for("search")}}>Search</a>
        <a class="nav-item nav-link active" href={{url_for("about")}}>About</a>

			</div>
		</div>
	</nav>
	<h1 style="text-align: center">Meet the team:</h1>
  <h6 style="text-align: center"><i>Team 6</i></h6>
	<br>
  
  <div class="container">
    <div class="row" style="padding-bottom: 15px">
      <div class="col">
        <div class="card" style="width: 18rem; height: 35rem">
          <img src="/static/images/pearl4.jpg" height = 275 alt="Pearl" class="card-img-top" />
          <div class="card-body">
            <h5>Dung Le</h5>
            <ul>
              <li><strong>Bio:</strong> B.S. Mechanical Engineering</li>
              <li><strong>Major Responsibilities:</strong> Database development and unit tests</li>
              <li id="pearl_commits"><strong>No of Commits:</strong> ...</li>            
              <li id="pearl_issues"><strong>No. of Issues:</strong> ...</li>            
              <li><strong>No. of Unit Tests:</strong> 3</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem; height: 35rem">
          <img src="/static/images/arnabz2.jpg" height = 275 alt="Arnab" class="card-img-top" />
          <div class="card-body">
            <h5>Arnab Zubair</h5>
            <ul>
              <li><strong>Bio:</strong> B.A. Geography, Elements of Computing</li>
              <li><strong>Major Responsibilities:</strong> Splash page, homepage, states page, and navbar</li>
              <li id="arnab_commits"><strong>No of Commits:</strong> ...</li>            
              <li id="arnab_issues"><strong>No. of Issues:</strong> ...</li>            
              <li><strong>No. of Unit Tests:</strong> 1</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem; height: 35rem">
          <img src="/static/images/aali2.jpg" height = 275 alt="Aali" class="card-img-top" />
          <div class="card-body">
            <h5>Aali Sahay</h5>
            <ul>
              <li><strong>Bio:</strong> B.B.A. Business Honors and Finance</li>
              <li><strong>Major Responsibilities:</strong> Technical Report, APIs, and database integration</li>
              <li id="aali_commits"><strong>No of Commits:</strong> ...</li>            
              <li id="aali_issues"><strong>No. of Issues:</strong> ...</li>            
              <li><strong>No. of Unit Tests:</strong> 1</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col">
          <div class="card" style="width: 18rem; height: 37rem">
            <img src="/static/images/fernando.jpg" height = 275 alt="Fernando" class="card-img-top" />
            <div class="card-body">
              <h5>Fernando Martinez Mojica</h5>
              <ul>
                <li><strong>Bio:</strong> B.A. Economics, Elements Of Computing, Applied Statistical Modeling</li>
                <li><strong>Major Responsibilities:</strong> Counties page, graphs, database integration, about page</li>
                <li id="fernando_commits"><strong>No of Commits:</strong> ...</li>            
                <li id="fernando_issues"><strong>No. of Issues:</strong> ...</li>            
                <li><strong>No. of Unit Tests:</strong> 3</li>
              </ul>
            </div>
          </div>
        </div>

      <div class="col">
        <div class="card" style="width: 18rem; height: 37rem;">
          <img src="/static/images/peter2.png" height = 275 alt="Peter" class="card-img-top" />
          <div class="card-body">
            <h5>Peter Driscoll</h5>
            <ul>
              <li><strong>Bio:</strong> B.A. Government, B.B.A Finance, Certificate Elements Of Computing</li>
              <li><strong>Major Responsibilities:</strong> Database development/integration, laws page, and sorting algorithm</li>
              <li id="peter_commits"><strong>No of Commits:</strong> ...</li>            
              <li id="peter_issues"><strong>No. of Issues:</strong> ...</li>            
              <li><strong>No. of Unit Tests:</strong> 1</li>
            </ul>
          </div>
        </div>
      </div>


    <div class="col">
        <div class="card" style="width: 18rem; height: 37rem;">
          <img src="/static/images/david.png" height = 275 alt="David" class="card-img-top" />
          <div class="card-body">
            <h5>David Alvarez</h5>
            <ul>
              <li><strong>Bio:</strong> B.A. Computational Linguistics, Elements of Computing Certificate</li>
              <li><strong>Major Responsibilities:</strong> Visualizations page and maps/graphs</li>
              <li id="david_commits"><strong>No of Commits:</strong> ...</li>            
              <li id="david_issues"><strong>No. of Issues:</strong> ...</li>            
              <li><strong>No. of Unit Tests:</strong> 1</li>
            </ul>
          </div>
        </div>
      </div>


    </div>

    <div class="row" style="margin-top: 20px;">

      <div class="col">
        <h3>Project Statistics</h3>
		      <ul>
            <li id="total_commits"><strong>Total no. of Commits:</strong> ...<br></li>
            <li id="total_issues"><strong>Total no. of Issues:</strong> ...<br></li>
            <li><strong>Total no. of unit tests:</strong> 10<br></li>
            <li><strong><a href="https://gitlab.com/pvd232/team6project1/issues">Gitlab Issue Tracker</a></strong><br></li>
            <li><strong><a href="https://gitlab.com/pvd232/team6project1">Gitlab Repository</a></strong><br></li>
            <li><strong><a href="https://gitlab.com/pvd232/team6project1/-/wikis/home">Gitlab Wiki</a></strong><br></li>
          </ul>
      </div>

      <div class="col">
        <h3>Data Sources</h3>
        <ul>
          <li><a href="https://www.kff.org/health-costs/issue-brief/state-data-and-policy-actions-to-address-coronavirus/">Kaiser Family Foundation</a></li>
          <li><a href="https://github.com/nytimes/covid-19-data">COVID-19 New York Times Data</a></li>
          <li><a href="https://covidtracking.com/api/">The COVID Tracking Project</a></li>
        </ul>
      </div>

      <div class="col">
        <h3>Tools</h3>
		      <p>We utilized Python 3, HTML, Bootstrap, Flask, Jinja2, PostGreSQL, SQLAlchemy, and GCP to create this website and deploy it.</p>
      </div>

      <div class="col">
        <h3>Unit Tests</h3>
        <button><a href={{url_for("unittest")}}>Run Unit Tests</a></button>
        <br><br>
        <h3>Presentation</h3>
      <button><a href="https://speakerdeck.com/aali/cs-331e-project-phase-3">View our Presentation</a></button>
      </div>  
    </div>
  
    <script src="../static/js/about/index.js"></script>  
	</body>
</html>
