<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/@popperjs/core@2">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Counties</title>
  </head>
  <body>

	  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	  	<a class="navbar-brand" href="#">COVID-19 in the U.S.</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	  		<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	  		<div class="navbar-nav">
	  		<a class="nav-item nav-link" href = {{url_for("home")}}>Home</a>
        <a class="nav-item nav-link" href = {{url_for("states")}}>State Data</a>
        <a class="nav-item nav-link active" href = {{url_for("counties")}}>County Data</a>
        <a class="nav-item nav-link" href = {{url_for("laws")}}>Laws</a>
        <a class="nav-item nav-link" href = {{url_for("dataVis")}}>Visualizations</a>
        <a class="nav-item nav-link" href = {{url_for("search")}}>Search</a>
        <a class="nav-item nav-link" href={{url_for("about")}}>About</a>
	  		</div>
	  	</div>
	  </nav>
  
    <div class="container-fluid">
      <div class="row">
        <div class="col" style="text-align:center;">
          <h1>County Data</h1>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <h6>Sort By:</h6>
          <div class="dropdown" style="display: inline-block;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="orderselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Order
            </button>
            <div class="dropdown-menu" aria-labelledby="orderselect">
              <a class="dropdown-item" href="{{url_for('counties', sort='asc', attr=attr)}}">Ascending</a>
              <a class="dropdown-item" href="{{url_for('counties', sort='desc', attr=attr)}}">Descending</a>
            </div>
          </div>

          <div class="dropdown" style="display: inline-block;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="attrselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Attribute
            </button>
            <div class="dropdown-menu" aria-labelledby="attrselect">
              <a class="dropdown-item" href="{{url_for('counties', sort=sort, attr='county_name')}}">Name</a>
              <a class="dropdown-item" href="{{url_for('counties', sort=sort, attr='state')}}">State</a>
              <a class="dropdown-item" href="{{url_for('counties', sort=sort, attr='fips')}}">FIPS</a>
              <a class="dropdown-item" href="{{url_for('counties', sort=sort, attr='cases')}}">Cases</a>
              <a class="dropdown-item" href="{{url_for('counties', sort=sort, attr='deaths')}}">Deaths</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 15px">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">State</th>
                <th scope="col">FIPS</th>
                <th scope="col">Cases</th>
                <th scope="col">Deaths</th>
              </tr>
            </thead>
            <tbody>
              {% for county in counties.items%}
              <tr>
                <th scope="col">{{county.id}}</th>
                <th>{{county.county_name}}</th>
                <th><a href="{{url_for('stateDetails', stateParam=county.state)}}">{{county.state}}</a></th>
                <th>{{county.fips}}</th>
                <th>{{county.cases}}</th>
                <th>{{county.deaths}}</th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col" style="align-items: center;">
          <nav aria-label="Counties Pagination">
            <ul class="pagination">
              {% for page_num in counties.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                  {% if counties.page == page_num %}
                    <li class="page-item active"><a class="page-link" href="{{url_for('counties',page=page_num, sort=sort, attr=attr)}}">{{page_num}}</a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="{{url_for('counties',page=page_num, sort=sort, attr=attr)}}">{{page_num}}</a></li>
                  {% endif %}
                {% else %}
                  <li class="page-item disabled"><a class="page-link" href="">...</a></li> 
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
