<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/@popperjs/core@2">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>County Detail</title>
  </head>
  <body>

	  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	  	<a class="navbar-brand" href="#">COVID-19 in the U.S.</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	  		<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	  		<div class="navbar-nav">
	  		<a class="nav-item nav-link" href = {{url_for("home")}}>Home</a>
        <a class="nav-item nav-link" href = {{url_for("states")}}>State Data</a>
        <a class="nav-item nav-link" href = {{url_for("counties")}}>County Data</a>
        <a class="nav-item nav-link" href = {{url_for("laws")}}>Laws</a>
        <a class="nav-item nav-link" href = {{url_for("dataVis")}}>Visualizations</a>
        <a class="nav-item nav-link" href = {{url_for("search")}}>Search</a>
        <a class="nav-item nav-link" href={{url_for("about")}}>About</a>
	  		</div>
	  	</div>
	  </nav>

    <div class="container-sm" style="margin-top: 15px">

      <div class="row">
        <div class="col justify-content-center text-center">
          <h2> {{county.county_name + ', ' + county.state}} </h2>
        </div>
      </div>

      <div class="row" style="margin: 15px">
        <div class="col justify-content-center text-center">
          <img src="../static/images/{{county.state}}.png" height: 200, width=300></img>
        </div>
      </div>

      <div class="row">
        <div class="col justify-content-center text-center">
          <ul style="list-style-type: none;">
            <li><h3>{{"FIPS: " + county.fips|string}}</h3></li>
            <li><h3>{{"Cases: " + county.cases|string}}</h3></li>
            <li><h3>{{"Deaths: " + county.deaths|string}}</h3></li>
          </ul>
        </div>
      </div>

    </div>

  </body>
</html>
