<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <title>Homepage</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">Drugs in the U.S.</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
        <a class="nav-item nav-link active" href = {{url_for("home")}}>Home</a>
	      <a class="nav-item nav-link" href = {{url_for("stateInfo")}}>State Info</a>
	      <a class="nav-item nav-link" href = {{url_for("drugInfo")}}>Drug Info</a>
	      <a class="nav-item nav-link" href = {{url_for("laws")}}>Laws</a>
        <a class="nav-item nav-link" href = {{url_for("dataVis")}}>Visualizations</a>
        <a class="nav-item nav-link" href = {{url_for("search")}}>Search</a>
        <a class="nav-item nav-link" href = {{url_for("about")}}>About</a>
    	</div>
  	</div>
  </nav>
  <h1 style="text-align: center; margin-top: 10px;">Covid Chase</h1>
  <br></br>
  <div class="container-fluid">
    <div class="row">
      <div style="height: 350px; width: 350px;" class="col-sm">
        <canvas id="totalCases"></canvas>
      </div>
      <div style="height: 350px; width: 350px;" class="col-sm">
        <canvas id="totalDeaths"></canvas>
      </div>
    </div>
  </div>
  

  <script src="../static/js/homepage/index.js"></script>
  </body>
</html>
