<html>
  <head>
  	<meta charset="UTF-8">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Homepage</title>
  </head>
  <body>
  	<div class="jumbotron jumbotron-fluid text-center bg-secondary text-light" style="margin-bottom:0">
  		<h1>COVID-19 in the United States</h1>
  		<p><i>Team 6 - Project 3</i></p>
  	</div>
  	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">COVID-19 in the U.S.</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
        <a class="nav-item nav-link active" href = {{url_for("home")}}>Home</a>
        <a class="nav-item nav-link" href = {{url_for("states")}}>State Data</a>
        <a class="nav-item nav-link" href = {{url_for("counties")}}>County Data</a>
        <a class="nav-item nav-link" href = {{url_for("laws")}}>Laws</a>
        <a class="nav-item nav-link" href = {{url_for("dataVis")}}>Visualizations</a>
        <a class="nav-item nav-link" href = {{url_for("search")}}>Search</a>
        <a class="nav-item nav-link" href={{url_for("about")}}>About</a>
    	</div>
  	</div>
</nav>
  	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 mx-auto" src="/static/images/covid19.jpeg" alt="First slide">
       <div class="carousel-caption d-none d-sm-block"> 
        <h5 style="color:black">State Data</h5>
        <p style="color:black"><b>The state page provides statistics for each U.S. state and territory, such as number of positive test results and deaths resulting from COVID-19.</b></p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 mx-auto" src="static/images/outbreakmap.png" alt="Second slide">
      <div class="carousel-caption d-none d-sm-block">
        <h5 style="color:black">County Data</h5>
        <p style="color:black"><b>The county page includes detailed data for every single county in the U.S., allowing for a more granular understanding of the COVID-19 outbreak.</b></p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 mx-auto" src="static/images/quarantine.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-sm-block">
        <h5>Laws</h5>
        <p><b>The laws page covers the different types of responses taken at the state level to prevent the spread of COVID-19.</b></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
