<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyCwk5fuayMJ3ptIxHt2Ekq7jEQW2xjAzOY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);
      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['State', 'Select'],
          ['Alabama', {{USdata['Alabama']}}],
    ['Alaska', {{USdata['Alaska']}}],
    ['American Samoa', {{USdata['American Samoa']}}],
    ['Arizona', {{USdata['Arizona']}}],
    ['Arkansas', {{USdata['Arkansas']}}],
    ['California', {{USdata['California']}}],
    ['Colorado', {{USdata['Colorado']}}],
    ['Connecticut', {{USdata['Connecticut']}}],
    ['Delaware', {{USdata['Delaware']}}],
    ['District of Columbia', {{USdata['District of Columbia']}}],
    ['Florida', {{USdata['Florida']}}],
    ['Georgia', {{USdata['Georgia']}}],
    ['Guam', {{USdata['Guam']}}],
    ['Hawaii', {{USdata['Hawaii']}}],
    ['Idaho', {{USdata['Idaho']}}],
    ['Illinois', {{USdata['Illinois']}}],
    ['Indiana', {{USdata['Indiana']}}],
    ['Iowa', {{USdata['Iowa']}}],
    ['Kansas', {{USdata['Kansas']}}],
    ['Kentucky', {{USdata['Kentucky']}}],
    ['Louisiana', {{USdata['Louisiana']}}],
    ['Maine', {{USdata['Maine']}}],
    ['Maryland', {{USdata['Maryland']}}],
    ['Massachusetts', {{USdata['Massachusetts']}}],
    ['Michigan', {{USdata['Michigan']}}],
    ['Minnesota', {{USdata['Minnesota']}}],
    ['Mississippi', {{USdata['Mississippi']}}],
    ['Missouri', {{USdata['Missouri']}}],
    ['Montana', {{USdata['Montana']}}],
    ['Nebraska', {{USdata['Nebraska']}}],
    ['Nevada', {{USdata['Nevada']}}],
    ['New Hampshire', {{USdata['New Hampshire']}}],
    ['New Jersey', {{USdata['New Jersey']}}],
    ['New Mexico', {{USdata['New Mexico']}}],
    ['New York', {{USdata['New York']}}],
    ['North Carolina', {{USdata['North Carolina']}}],
    ['North Dakota', {{USdata['North Dakota']}}],
    ['Northern Marianas Islands', {{USdata['Northern Mariana Islands']}}],
    ['Ohio', {{USdata['Ohio']}}],
    ['Oklahoma', {{USdata['Oklahoma']}}],
    ['Oregon', {{USdata['Oregon']}}],
    ['Pennsylvania', {{USdata['Pennsylvania']}}],
    ['Puerto Rico', {{USdata['Puerto Rico']}}],
    ['Rhode Island', {{USdata['Rhode Island']}}],
    ['South Carolina', {{USdata['South Carolina']}}],
    ['South Dakota', {{USdata['South Dakota']}}],
    ['Tennessee', {{USdata['Tennessee']}}],
    ['Texas', {{USdata['Texas']}}],
    ['Utah', {{USdata['Utah']}}],
    ['Vermont', {{USdata['Vermont']}}],
    ['Virginia', {{USdata['Virginia']}}],
    ['Virgin Islands', {{USdata['Virgin Islands']}}],
    ['Washington', {{USdata['Washington']}}],
    ['West Virginia', {{USdata['West Virginia']}}],
    ['Wisconsin', {{USdata['Wisconsin']}}],
    ['Wyoming', {{USdata['Wyoming']}}]
        ]);

        var options = {
          region: 'US', 
          displayMode: 'regions',
          resolution: 'provinces',
          colorAxis:{
            colors: ['white','white','#ffcccc','#ffcccc', '#ff3333','#ff3333', '#ff0000','#ff0000', '#cc0000', '#990000'],
            values: [0,100,101,500,501,2000, 2001, 5000, 5001, 10000]
          },
          backgroundColor: '#81d4fa',
          datalessRegionColor: '#f8bbd0',
          defaultColor: '#f5f5f5',
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="regions_div" style="width: 900px; height: 500px;"></div>
    {% for state in USdata: %}
            {{state}}
          {% endfor %}
  </body>
</html>