<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/@popperjs/core@2">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Search Results</title>
  </head>
  <body>

	  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	  	<a class="navbar-brand" href="#">COVID-19 in the U.S.</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	  		<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	  		<div class="navbar-nav">
	  		<a class="nav-item nav-link" href = {{url_for("home")}}>Home</a>
        <a class="nav-item nav-link" href = {{url_for("states")}}>State Data</a>
        <a class="nav-item nav-link" href = {{url_for("counties")}}>County Data</a>
        <a class="nav-item nav-link" href = {{url_for("laws")}}>Laws</a>
        <a class="nav-item nav-link" href = {{url_for("dataVis")}}>Visualizations</a>
        <a class="nav-item nav-link active" href = {{url_for("search")}}>Search</a>
        <a class="nav-item nav-link" href={{url_for("about")}}>About</a>
	  		</div>
	  	</div>
	  </nav>

    <div class="container-sm">
      <div class="row">
        <div class="col">
          <h1 style="text-align:center;">Search Results</h1>
        </div>
      </div>
      {% if counties or states or county_state %}
        {% for state in states %}
        <ul style="list-style-type: none;">
          <li>
            <h5 class="mb-0 pb-0">
              <a class="mb-0 pb-0" href={{url_for("stateDetails", stateParam=state.state_name)}}>
                {{"The State of " + state.state_name}}
              </a>
            </h5>
          </li>
          <li><p class="text-muted mb-0 pb-0">{{"covidtracker.me/" + state.state_name + "Detail"}}</p></li>
          <li><p class="font-weight-light mt-0 pt-0">{{"More information on Covid-19 statistics in " + state.state_name}}</p></li>
        </ul>
        {% endfor %}
        {% for county in counties %}
         <ul style="list-style-type: none;">
          <li>
            <h5 class="mb-0 pb-0">
            <a class="mb-0 pb-0" href={{url_for("countyDetails", countyParam=county.county_name, stateParam=county.state)}}>
              {{county.county_name + " County in " + county.state}}
            </a>
          </h5>
          </li>
          <li><p class="text-muted mb-0 pb-0">{{"covidtracker.me/" + county.county_name + county.state + "Detail"}}</p></li>
          <li><p class="font-weight-light mt-0 pt-0">{{"More information on Covid-19 statistics in " + county.county_name + " County " + county.state}}</p></li>
         </ul>
        {% endfor %}
        {% for county in county_state %}
         <ul style="list-style-type: none;">
          <li>
            <h5 class="mb-0 pb-0">
            <a class="mb-0 pb-0" href={{url_for("countyDetails", countyParam=county.county_name, stateParam=county.state)}}>
              {{county.county_name + " County in " + county.state}}
            </a>
          </h5>
          </li>
          <li><p class="text-muted mb-0 pb-0">{{"covidtracker.me/" + county.county_name + county.state + "Detail"}}</p></li>
          <li><p class="font-weight-light mt-0 pt-0">{{"More information on Covid-19 statistics in " + county.county_name + " County " + county.state}}</p></li>
         </ul>
        {% endfor %}
      {% else %}
        <h3>No Results Found</h3> 
      {% endif %}
    </div>
  </body>
</html>
