<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/@popperjs/core@2">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Search</title>
  </head>
  <body>

	  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	  	<a class="navbar-brand" href="#">COVID-19 in the U.S.</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	  		<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	  		<div class="navbar-nav">
	  		<a class="nav-item nav-link" href = {{url_for("home")}}>Home</a>
        <a class="nav-item nav-link" href = {{url_for("states")}}>State Data</a>
        <a class="nav-item nav-link" href = {{url_for("counties")}}>County Data</a>
        <a class="nav-item nav-link" href = {{url_for("laws")}}>Laws</a>
        <a class="nav-item nav-link" href = {{url_for("dataVis")}}>Visualizations</a>
        <a class="nav-item nav-link active" href = {{url_for("search")}}>Search</a>
        <a class="nav-item nav-link" href={{url_for("about")}}>About</a>
	  		</div>
	  	</div>
	  </nav>

    <div class="container-sm">
      <div class="row">
        <div class="col">
          <h1 style="text-align:center;">Search for your state or county</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form method="POST" action="{{url_for('search_res')}}">
            <input type="text" class="form-control" placeholder="Search" name="term">
            <input type="submit" value="Search" class="btn btn-primary" style="margin-top: 15px"/>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
