<html>
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width-device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  	<title>Splash</title>
  </head>
  <body class="text-center">
  	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  		<p></p>
  		<div class="container-fluid bg-dark w-100 h-25">
	  		<h1 class="cover-heading-center text-light">COVID-19 in the United States</h1>
	  		<p class="text-light">Team 6: <i>Fernando Martinez Mojica, Peter Driscoll, Aali Sahay, Pearl Le, Arnab Zubair, David Alvarez</i></p>
	  		<a href={{url_for("home")}}><button type="button" class="btn btn-primary">Enter Site</button></a>
	  	</div>
  		</br>
  		</br>
  		</br>
  		<div class="container-fluid w-75 h-25 bg-light">
  			<p>What can you find on this website?</p>
			</br>  
  			<div class="row">
  				<div class="col-sm">
  					<button type="button" class="btn btn-dark">Statistics about COVID-19 in all U.S. states and counties</button>
  				</div>
  				<div class="col-sm">
  					<button type="button" class="btn btn-dark">Laws concerning quarantine procedures and business closures</button>
  				</div>
  				<div class="col-sm">
  					<button type="button" class="btn btn-dark">Data visualizations in the forms of maps and graphs</button>
  				</div>
  			</div>
  		</div>
  </body>
</html> 
