<html>
  <head>
    <title>Visualization</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <script rel="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script rel="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyCwk5fuayMJ3ptIxHt2Ekq7jEQW2xjAzOY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);
      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['State', 'Select'],
          ['Alabama', {{USdata['Alabama']}}],
          ['Alaska', {{USdata['Alaska']}}],
    ['American Samoa', {{USdata['American Samoa']}}],
    ['Arizona', {{USdata['Arizona']}}],
    ['Arkansas', {{USdata['Arkansas']}}],
    ['California', {{USdata['California']}}],
    ['Colorado', {{USdata['Colorado']}}],
    ['Connecticut', {{USdata['Connecticut']}}],
    ['Delaware', {{USdata['Delaware']}}],
    ['District of Columbia', {{USdata['District of Columbia']}}],
    ['Florida', {{USdata['Florida']}}],
    ['Georgia', {{USdata['Georgia']}}],
    ['Guam', {{USdata['Guam']}}],
    ['Hawaii', {{USdata['Hawaii']}}],
    ['Idaho', {{USdata['Idaho']}}],
    ['Illinois', {{USdata['Illinois']}}],
    ['Indiana', {{USdata['Indiana']}}],
    ['Iowa', {{USdata['Iowa']}}],
    ['Kansas', {{USdata['Kansas']}}],
    ['Kentucky', {{USdata['Kentucky']}}],
    ['Louisiana', {{USdata['Louisiana']}}],
    ['Maine', {{USdata['Maine']}}],
    ['Maryland', {{USdata['Maryland']}}],
    ['Massachusetts', {{USdata['Massachusetts']}}],
    ['Michigan', {{USdata['Michigan']}}],
    ['Minnesota', {{USdata['Minnesota']}}],
    ['Mississippi', {{USdata['Mississippi']}}],
    ['Missouri', {{USdata['Missouri']}}],
    ['Montana', {{USdata['Montana']}}],
    ['Nebraska', {{USdata['Nebraska']}}],
    ['Nevada', {{USdata['Nevada']}}],
    ['New Hampshire', {{USdata['New Hampshire']}}],
    ['New Jersey', {{USdata['New Jersey']}}],
    ['New Mexico', {{USdata['New Mexico']}}],
    ['New York', {{USdata['New York']}}],
    ['North Carolina', {{USdata['North Carolina']}}],
    ['North Dakota', {{USdata['North Dakota']}}],
    ['Northern Marianas Islands', {{USdata['Northern Mariana Islands']}}],
    ['Ohio', {{USdata['Ohio']}}],
    ['Oklahoma', {{USdata['Oklahoma']}}],
    ['Oregon', {{USdata['Oregon']}}],
    ['Pennsylvania', {{USdata['Pennsylvania']}}],
    ['Puerto Rico', {{USdata['Puerto Rico']}}],
    ['Rhode Island', {{USdata['Rhode Island']}}],
    ['South Carolina', {{USdata['South Carolina']}}],
    ['South Dakota', {{USdata['South Dakota']}}],
    ['Tennessee', {{USdata['Tennessee']}}],
    ['Texas', {{USdata['Texas']}}],
    ['Utah', {{USdata['Utah']}}],
    ['Vermont', {{USdata['Vermont']}}],
    ['Virginia', {{USdata['Virginia']}}],
    ['Virgin Islands', {{USdata['Virgin Islands']}}],
    ['Washington', {{USdata['Washington']}}],
    ['West Virginia', {{USdata['West Virginia']}}],
    ['Wisconsin', {{USdata['Wisconsin']}}],
    ['Wyoming', {{USdata['Wyoming']}}]
        ]);

        var options = {
          region: 'US', 
          displayMode: 'regions',
          resolution: 'provinces',
          colorAxis:{
            colors: ['white','white', '#ffcccc','#ffcccc',   '#ff3333','#ff3333',   '#ff0000','#ff0000',  '#cc0000', '#cc0000',   '#990000', '#990000', '#800000','#800000', '#660000', '#660000'],
            values: [0,100, 101,500 ,501,2000,  2001, 5000,  5001, 10000,   10001, 50000, 50001, 100000, 100001, 500000]
          },
          backgroundColor: '#81d4fa',
          datalessRegionColor: '#f8bbd0',
          defaultColor: '#f5f5f5',
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/visualize.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">COVID-19 in the U.S.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href = {{url_for("home")}}>Home</a>
          <a class="nav-item nav-link" href = {{url_for("states")}}>State Data</a>
          <a class="nav-item nav-link" href = {{url_for("counties")}}>County Data</a>
          <a class="nav-item nav-link" href = {{url_for("laws")}}>Laws</a>
          <a class="nav-item nav-link active" href = {{url_for("dataVis")}}>Visualizations</a>
          <a class="nav-item nav-link" href = {{url_for("search")}}>Search</a>
          <a class="nav-item nav-link" href={{url_for("about")}}>About</a>
        </div>
      </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 id="gtitle">Number of positive cases in the United States</h1>
        <div id="regions_div" style="width: 900px; height: 500px;"></div>
      </div>
    </div>
    <div class="row">
      <div style="height: 350px; width: 350px;" class="col-sm">
        <canvas id="totalCases"></canvas>
      </div>
      <div style="height: 350px; width: 350px;" class="col-sm">
        <canvas id="totalDeaths"></canvas>
      </div>
    </div>
  </div>

  <script src="../static/js/homepage/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
